<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="../assets/styles/main.css"
    />
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <div class="class text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title" style="font-size: 40px;">Tic Tac Toe</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/e1" role="button" type="submit" class="btn btn-secondary"
            style="font-size: 50px; background-color: blue; color: black; border-color: black;"
            > 1  </a>
            <a href="/e2" role="button" type="submit" class="btn btn-secondary"
            style="font-size: 50px; background-color: blue; color: black; border-color: black;"
            > 2  </a>
            <a href="/e3" role="button" type="submit" class="btn btn-secondary"
            style="font-size: 50px; background-color: blue; color: black; border-color: black;"
            >  3 </a>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/e4" role="button" type="submit" class="btn btn-secondary">  4 </a>
            <a href="/e5" role="button" type="submit" class="btn btn-secondary">  5 </a>
            <a href="/e6" role="button" type="submit" class="btn btn-secondary">  6  </a>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/e7" role="button" type="submit" class="btn btn-secondary"> 7  </a>
          <a href="/e8" role="button" type="submit" class="btn btn-secondary"> 8  </a>
          <a href="/e9" role="button" type="submit" class="btn btn-secondary">  9 </a>
        </div>
      </div>
    </div>
    

    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  </body>




</html>